<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <components>
    <component id="LoginService" service="OderingSystem.Service.ILoginService, OderingSystem" type="OderingSystem.Service.Impl.LoginService, OderingSystem">
    </component>
    <component id="ReservationSystem.Dao.Impl" service="ReservationSystem.Dao.ILoginDao, ReservationSystem" type="ReservationSystem.Dao.Impl.LoginDao, ReservationSystem">
    </component>
    <component id="SuperAdminDao" service="ReservationSystem.Dao.ISuperAdminDao, ReservationSystem" type="ReservationSystem.Dao.Impl.SuperAdminDao, ReservationSystem">
    </component>
    <component id="SuperAdminService" service="ReservationSystem.Service.ISuperAdminService, ReservationSystem" type="ReservationSystem.Service.Impl.SuperAdminService, ReservationSystem">
    </component>
    <component id="UserService" service="ReservationSystem.Service.IUserService, ReservationSystem" type="ReservationSystem.Service.Impl.UserService, ReservationSystem">
    </component>
  </components>
</castle>
